* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #28bbff;
}

.active {
  color: white;
  background-color: #28bbff;
  border-radius: 8px;
  padding: 6px 12px;
  box-shadow: 0 4px 8px rgba(40, 187, 255, 0.3);
  text-decoration: none;
  transform: scale(1.05);
}