node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
__pycache__

logs/
*.log
logs/*.log
logs/**/*.log

dist/
out/
.next/
coverage/

uploads/*
!uploads/.gitkeep

*.db
*.sqlite
*.sqlite3